*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rgb(149, 213, 250);
}
#logo{
    width: 200px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}
#img1{
    margin-left: 20px;
}
h1{
    margin-left: 20px;
    margin-top: 40px;
}

p{
    margin-left: 20px;
}
#p1{
    color: rgb(109, 108, 108);
}
#span1{
    color: rgb(5, 117, 168);
}